docutype 
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Neon :3
    link(rel="stylesheet", href="style.css")
  body
    .container
      h1 Neon's portfolio (w/ cats)
      p Hi my name is Neon! if u havent noticed i think i like cats,, just a little bit
